table .btn {
  background: transparent;
  padding: 0;
  border: none;
  color: black;
}

table .btn:hover {
  background: transparent;
  padding: 0;
  border: none;
}
 table td h5{
   margin-top:0;
 }

.playlist td{
	height: 40px;
	line-height: 40px;
	font-weight: normal;
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
}