table .btn {
  background: transparent;
  padding: 0;
  border: none;
  color: black;
}

table .btn:hover {
  background: transparent;
  padding: 0;
  border: none;
}
@media (max-width:767px) {
  table .active .play {
    display:none!important;
  }
  table .active .pause {
    display:block!important;
  }

  table .pause {
    display:none!important;
  }
}
