@import url('//fonts.googleapis.com/css?family=Droid+Sans:400,700');
@import "settings";
@import "bootstrap";
@import "responsive";
@import "font-awesome";

label, input, button, select, textarea,
.navbar .search-query:-moz-placeholder,
.navbar .search-query::-webkit-input-placeholder {
  font-family: 'Droid Sans', sans-serif;
  color: $gray;
}

hr {
  border-bottom: none;
}

.navbar {

  .navbar-inner {
    border-bottom: 1px solid $grayDark;
  }

  .nav > li > a {
    padding: 15px 15px 14px;
    border-bottom: 1px solid transparent;
  }

  .nav > li > a:hover,
  .nav > .active > a,
  .nav > .active > a:hover {
    border-bottom: 1px solid $blue;
  }

  .navbar-text {
    margin-bottom: 1px;
    padding: 15px 15px 14px;
    line-height: inherit;
  }

  .divider-vertical {
    margin: 0;
    border-left: 1px solid $grayDark;
    border-right-width: 0;
  }

}

.library{
  position: fixed;
  top: 0;
  bottom: 75px;
  right: 0;
  .results{
    position: absolute;
    bottom: 0;
    top: 10em;
    overflow-y: auto;
    overflow-x: hidden;
  }
}


.tracklist{
  padding-top: 1.7em;
  padding-bottom: 1.7em;
  position: absolute;
  top: 0;
  bottom: 75px;
  overflow-y: auto;
  overflow-x: hidden;
  .track{
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
    &:hover{
      box-shadow: 0px 0px 15px 2px rgba(51, 181, 229, .7);
    };
  
    display: block;
    position: relative;
    cursor: pointer;
    min-width: 140px;
    min-height:140px;
    max-width: 140px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    
    $color_stop: rgb(0, 0, 0);
    $color_start: rgba(8, 37, 48, 0.32);
    background: $color_start;
    background: -moz-linear-gradient(top, $color_start 0%, $color_stop);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$color_start), color-stop(100%,#efefef));
    background: -webkit-linear-gradient(top, $color_start 0%,$color_stop);
    background: -o-linear-gradient(top, $color_start 0%,$color_stop);
    background: -ms-linear-gradient(top, $color_start 0%,$color_stop);
    background: linear-gradient(top, $color_start 0%,$color_stop);
    margin-bottom: .8em;
    margin-left: .8em;
    box-shadow: 0px 0px 2px 2px rgba(51, 181, 229, 0.1);
    .cover{
      width: 140px;
      height:140px;
    }
    .info {
      margin: .4em;
      display:none;

      h1, h2{
        font-size: 1em;
        line-height: 1em;  
      }
      span{
        color: #aaa;
      }
    }
  }
  .track.active, .track.preview{
    box-shadow: 0px 0px 3px 2px rgba(51, 181, 229, 1);
    .cover{
      display:none;
    }
    .info {
      .cover.mini{
        width: 15px;
        height:15px;
        display:inline;
        float:left;
        margin-right: .3em;
      }
      display:block;
    }
  }
  .track.preview{
      box-shadow: 0px 0px 4px 1px rgba(51, 181, 229, 1);
  }
}



.player{

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .scrub{
    cursor: pointer;
    width: 100%;
    height: 8px;
    padding: 1px;
    border: 1px solid rgb(17, 17, 17);
    background: rgb(3, 3, 3);

    position: relative;
    left: 0;
    display: block;
    float: left;
    margin: 0 10px 0 0;

    .handle{
      height: 100%;
      background-color: rgba(51, 181, 229, 0.2);
      -webkit-transition: all 1.5s ease;
      -moz-transition: all 1.5s ease;
      -o-transition: all 1.5s ease;
      -ms-transition: all 1.5s ease;
      transition: all 1.5s ease;
    }
  }
  .handle:hover, .scrub:hover .handle{
    background-color: rgba(51, 181, 229, 0.8)
  }
  a.control{
    cursor: pointer;
  }

  .now {
    margin: .9em;

    h1, h2{
      font-size: 1em;
      line-height: 1em;  
    }
    span{
      color: #aaa;
    }
  }
  .cover{
    margin: .3em;
    img, i{
      max-width: 56px;
      max-height: 56px;
      width: 56px;
      height: 56px;
    }
  }

}
.loading i {
  margin-left: 50%;
  text-align: center;
  margin-top: 10%;
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
 
  $h1fontsize: 1.2em;
  $h2fontsize: 1.1em;
  $cover_art: 116px;
  $scrub_bar: 48px;
  $info_padding: .4em;
  $tracklist_bottom: 2.4em;
  $tracklist_max-width: 97%;

  .tracklist{
    right: 0;
    bottom: $tracklist_bottom;
  }
  .player .scrub{
      height: $scrub_bar;
  }
  .tracklist .track{
    min-height: $cover_art;
    margin-bottom: .8em;
    max-width: $tracklist_max-width;
    margin-left: .5em;
  }
  .track:first-child {
    margin-left: .5em!important;
  }
  .tracklist .track.active, .tracklist .track.preview {
    .info {
      h1{
        padding: $info_padding;
        font-size: $h1fontsize;
      }
      h2{
        padding: $info_padding;
        font-size: $h2fontsize;
      }
      .cover.mini {
        width: $cover_art;
        height: $cover_art;
        float: left;
        margin-right: .3em;
        margin-left: -.4em;
      }
    }
  }
  .tracklist .track .cover {
    width: $cover_art;
    height: $cover_art;
    float: left;
    margin-right: .3em;
  }
  .tracklist .track .cover.mini {
    display:none;
  }
  .tracklist .track .info{
    display:block;
    h1{
      padding: $info_padding;
      font-size: $h1fontsize;
    }
    h2{
      padding: $info_padding;
      font-size: $h2fontsize;
    }
  }

}

/* Landscape phones and down */
@media (max-width: 480px) { 
   
  $h1fontsize: 1em;
  $h2fontsize: .9em;
  $cover_art: 76px;
  $scrub_bar: 32px;
  $info_padding: .2em;
  $tracklist_bottom: 1em;
  $tracklist_max-width: 95%;

  .tracklist{
    right: 0;
    bottom: $tracklist_bottom;
  }
  .player .scrub{
      height: $scrub_bar;
  }
  .tracklist .track{
    min-height: $cover_art;
    margin-bottom: .8em;
    max-width: $tracklist_max-width;
    margin-left: .5em!important;
  }
  .track:first-child {
    margin-left: .5em!important;
  }
  .tracklist .track.active, .tracklist .track.preview {
    .info {
      h1{
        padding: $info_padding;
        font-size: $h1fontsize;
      }
      h2{
        padding: $info_padding;
        font-size: $h2fontsize;
      }
      .cover.mini {
        width: $cover_art;
        height: $cover_art;
        float: left;
        margin-right: .3em;
        margin-left: -.4em;
      }
    }
  }
  .tracklist .track .cover {
    width: $cover_art;
    height: $cover_art;
    float: left;
    margin-right: .3em;
  }
  .tracklist .track .cover.mini {
    display:none;
  }
  .tracklist .track .info{
    display:block;
    h1{
      padding: $info_padding;
      font-size: $h1fontsize;
    }
    h2{
      padding: $info_padding;
      font-size: $h2fontsize;
    }
  }
}
 

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
  background-color: #121417;
  background-image: -moz-linear-gradient(top, #060606, #070809);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#060606), to(#070809));
  background-image: -webkit-linear-gradient(top, #060606, #070809);
  background-image: -o-linear-gradient(top, #060606, #070809);
  background-image: linear-gradient(to bottom, #060606, #070809);
  background-repeat: repeat-x;
  width: 10px;
}

 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(51, 181, 229, 0.8); 
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(51, 181, 229, 0.1); 
}