@import "_boot.css";
@import "_boot_resp.css";
@import "font-awesome";

.tracklist{
  margin-left: -1em!important;
  margin-top: 1em;
  margin-bottom: 78px;
  .track{
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    -ms-transition: all .2s ease;
    transition: all .2s ease;
    &:hover{
      box-shadow: 0px 0px 15px 2px rgba(51, 181, 229, .7);
    };
  
    display: block;
    position: relative;
    cursor: pointer;
    min-width: 140px;
    min-height:140px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    
    $color_stop: rgb(0, 0, 0);
    $color_start: rgba(8, 37, 48, 0.32);
    background: $color_start;
    background: -moz-linear-gradient(top, $color_start 0%, $color_stop);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$color_start), color-stop(100%,#efefef));
    background: -webkit-linear-gradient(top, $color_start 0%,$color_stop);
    background: -o-linear-gradient(top, $color_start 0%,$color_stop);
    background: -ms-linear-gradient(top, $color_start 0%,$color_stop);
    background: linear-gradient(top, $color_start 0%,$color_stop);
    margin-bottom: 20px;
    box-shadow: 0px 0px 2px 2px rgba(51, 181, 229, 0.1);
    .cover{
      width: 140px;
      height:140px;
    }
    .info {
      margin: .4em;
      display:none;

      h1, h2{
        font-size: 1em;
        line-height: 1em;  
      }
      span{
        color: #aaa;
      }
    }
  }
  .track.active{
    box-shadow: 0px 0px 2px 2px rgba(51, 181, 229, 1);
    .cover{
      display:none;
    }
    .info {
      .cover.mini{
        width: 30px;
        height:30px;
        display:inline;
      }
      display:block;
    }
  }
}



.player{

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .scrub{
    cursor: pointer;
    width: 100%;
    height: 8px;
    padding: 1px;
    border: 1px solid rgb(17, 17, 17);
    background: rgb(3, 3, 3);

    position: relative;
    left: 0;
    display: block;
    float: left;
    margin: 0 10px 0 0;

    .handle{
      height: 100%;
      background-color: rgba(51, 181, 229, 0.2);
      -webkit-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease;
      -ms-transition: all .2s ease;
      transition: all .2s ease;
    }
  }
  .handle:hover, .scrub:hover .handle{
    background-color: rgba(51, 181, 229, 0.8)
  }
  a.control{
    cursor: pointer;
  }

  .now {
    margin: .9em;

    h1, h2{
      font-size: 1em;
      line-height: 1em;  
    }
    span{
      color: #aaa;
    }
  }
  .cover{
    margin: .3em;
    img, i{
      max-width: 56px;
      max-height: 56px;
      width: 56px;
      height: 56px;
    }
  }

}
.loading i {
  margin-left: 50%;
  text-align: center;
  margin-top: 10%;
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
  .player .scrub{
      height: 32px;
  }
  .tracklist .track{
    min-height: 120px;
    margin-left: 1em;
    margin-bottom: .5em;
  }
  .tracklist .track.active .info {
    h1{
      padding:.2em;
      font-size: 1.6em;
    }
    h2{
      padding:.2em;
      font-size: 1.4em;
    }
    .cover.mini {
      width: 120px;
      height: 120px;
      float: left;
      margin-right: .3em;
      margin-left: -.4em;
    }
  }
  .tracklist .track .cover {
    width: 120px;
    height: 120px;
    float: left;
  }
}
 
/* Landscape phones and down */
@media (max-width: 480px) { 
  .player .scrub{
      height: 58px;
  }
  .tracklist .track{
    min-height: 88px;
    margin-left: 1em;
    margin-bottom: .5em;
  }
  .tracklist .track.active .info {
    h1{
      padding:.2em;
      font-size: 1.2em;
    }
    h2{
      padding:.2em;
      font-size: 1em;
    }
    .cover.mini {
      width: 88px;
      height: 88px;
      float: left;
      margin-right: .3em;
      margin-left: -.4em;
    }
  }
  .tracklist .track .cover {
    width: 88px;
    height: 88px;
    float: left;
  }
}

::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
  background-color: #121417;
  background-image: -moz-linear-gradient(top, #060606, #070809);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#060606), to(#070809));
  background-image: -webkit-linear-gradient(top, #060606, #070809);
  background-image: -o-linear-gradient(top, #060606, #070809);
  background-image: linear-gradient(to bottom, #060606, #070809);
  background-repeat: repeat-x;
  width: 12px;
}

 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(51, 181, 229, 0.8); 
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(51, 181, 229, 0.1); 
}

