@import "_boot.css";
@import "_boot_resp.css";
@import "font-awesome";

.player{  
  .scrub{
    cursor: pointer;
    width: auto;
    min-width: 300px;
    display: block;
    height: 58px;
    padding: 1px;
    border: 1px solid rgb(17, 17, 17);
    background: rgb(3, 3, 3);
    .handle{
      height: 100%;
      background-color: rgba(51, 181, 229, 0.23);
    }
  }
  a.control{
    cursor: pointer;
  }

  .now {
    margin: .9em;

    h1, h2{
      font-size: 1em;
      line-height: 1em;  
    }
    span{
      color: #aaa;
    }
  }
  .cover{
    margin: .3em;
    img, i{
      max-width: 56px;
      max-height: 56px;
      width: 56px;
      height: 56px;
    }
  }

}
.loading i {
  margin-left: 50%;
  text-align: center;
  margin-top: 10%;
}